menu "nPZero Driver nRF52"

config NP0_G0
    bool "Enable nPZG1"
	default y
    help
      This firmware enables mPZG1

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APPLICATION_MODULE
module-str = Application module
source "subsys/logging/Kconfig.template.log_config"
